@page
@model SchoolMedical.RazorWebApp.HoaLQ.Pages.HealthProfilesHoaLQs.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container py-5 border-1">
    <div class="card shadow-lg rounded-4 border-0">
        <div class="mb-4">
            <div class="card-header bg-white border-0 pb-0">
                <h2 class="fw-bold text-dark" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-lungs-fill" viewBox="0 0 16 16">
                        <path d="M8 1a.5.5 0 0 1 .5.5v5.243L9 7.1V4.72C9 3.77 9.77 3 10.72 3c.524 0 1.023.27 1.443.592.431.332.847.773 1.216 1.229.736.908 1.347 1.946 1.58 2.48.176.405.393 1.16.556 2.011.165.857.283 1.857.24 2.759-.04.867-.232 1.79-.837 2.33-.67.6-1.622.556-2.741-.004l-1.795-.897A2.5 2.5 0 0 1 9 11.264V8.329l-1-.715-1 .715V7.214c-.1 0-.202.03-.29.093l-2.5 1.786a.5.5 0 1 0 .58.814L7 8.329v2.935A2.5 2.5 0 0 1 5.618 13.5l-1.795.897c-1.12.56-2.07.603-2.741.004-.605-.54-.798-1.463-.838-2.33-.042-.902.076-1.902.24-2.759.164-.852.38-1.606.558-2.012.232-.533.843-1.571 1.579-2.479.37-.456.785-.897 1.216-1.229C4.257 3.27 4.756 3 5.28 3 6.23 3 7 3.77 7 4.72V7.1l.5-.357V1.5A.5.5 0 0 1 8 1m3.21 8.907a.5.5 0 1 0 .58-.814l-2.5-1.786A.5.5 0 0 0 9 7.214V8.33z"/>
                    </svg> Health Profile Details
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-lungs" viewBox="0 0 16 16">
                        <path d="M8.5 1.5a.5.5 0 1 0-1 0v5.243L7 7.1V4.72C7 3.77 6.23 3 5.28 3c-.524 0-1.023.27-1.443.592-.431.332-.847.773-1.216 1.229-.736.908-1.347 1.946-1.58 2.48-.176.405-.393 1.16-.556 2.011-.165.857-.283 1.857-.241 2.759.04.867.233 1.79.838 2.33.67.6 1.622.556 2.741-.004l1.795-.897A2.5 2.5 0 0 0 7 11.264V10.5a.5.5 0 0 0-1 0v.764a1.5 1.5 0 0 1-.83 1.342l-1.794.897c-.978.489-1.415.343-1.628.152-.28-.25-.467-.801-.505-1.63-.037-.795.068-1.71.224-2.525.157-.82.357-1.491.491-1.8.19-.438.75-1.4 1.44-2.25.342-.422.703-.799 1.049-1.065.358-.276.639-.385.833-.385a.72.72 0 0 1 .72.72v3.094l-1.79 1.28a.5.5 0 0 0 .58.813L8 7.614l3.21 2.293a.5.5 0 1 0 .58-.814L10 7.814V4.72a.72.72 0 0 1 .72-.72c.194 0 .475.11.833.385.346.266.706.643 1.05 1.066.688.85 1.248 1.811 1.439 2.249.134.309.334.98.491 1.8.156.814.26 1.73.224 2.525-.038.829-.224 1.38-.505 1.63-.213.19-.65.337-1.628-.152l-1.795-.897A1.5 1.5 0 0 1 10 11.264V10.5a.5.5 0 0 0-1 0v.764a2.5 2.5 0 0 0 1.382 2.236l1.795.897c1.12.56 2.07.603 2.741.004.605-.54.798-1.463.838-2.33.042-.902-.076-1.902-.24-2.759-.164-.852-.38-1.606-.558-2.012-.232-.533-.843-1.571-1.579-2.479-.37-.456-.785-.897-1.216-1.229C11.743 3.27 11.244 3 10.72 3 9.77 3 9 3.77 9 4.72V7.1l-.5-.357z"/>
                    </svg></h2>
            </div>
        
            <hr/>
        </div>

        <div class="row gy-3" id="HealthProfileId">
            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Student):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Student.StudentFullName)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Weight):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Weight)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Height):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Height)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Sight):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Sight)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Hearing):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Hearing)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.BloodPressure):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.BloodPressure)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Allergy):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.Allergy)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.ChronicDisease):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.ChronicDisease)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.MedicalHistory):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.MedicalHistory)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.CurrentMedical):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.CurrentMedical)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.BloodType):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.BloodType)</span>
            </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.Sex):</strong>
                <span class="ms-2">
                    @(Model.HealthProfilesHoaLq.Sex ? "Nam" : "Nữ")
                </span>        </div>
            <div class="col-md-6">
                <strong>@Html.DisplayNameFor(model => model.HealthProfilesHoaLq.DateOfBirth):</strong>
                <span class="ms-2">@Html.DisplayFor(model => model.HealthProfilesHoaLq.DateOfBirth)</span>
            </div>

        </div>

        <div class="mt-4">
            <a asp-page="./Edit" asp-route-id="@Model.HealthProfilesHoaLq.HealthProfileHoaLqid" class="btn btn-warning me-2">Edit</a>
            <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
<script src="~/js/signalr/signalr.js"></script>

<script>
    "use strict";
    
    var connection = new signalR.HubConnectionBuilder().withUrl("/SchoolMedicalHub").build();

    connection.start().then(function () {
        console.log("Connected to the SignalR Hub");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("Receiver_DeleteHealthProfile", function (HealthProfileHoaLqid) {
        //alert($(`#${HealthProfileHoaLqid}`).value);
        document.getElementById('HealthProfileId').innerHTML = "This profile had been deleted";
    });

</script>